{% extends 'layout.html' %}

{% block content %}
  <div>
    <img src="https://pbs.twimg.com/profile_images/535342201421590528/187tnq5s_400x400.png" style="width: 370px"/>
  </div>
  <div style="font-size: 1.4em; margin: 0.6em; margin-bottom: 100px;">
    <p>
      text a picture and an optional message to a (240) 565-0664
      <br><br>
      <a href="http://www.twitter.com/twapchat">@twapchat</a> tweets the picture
      <br><br>
      your picture only gets limited views before it self destructs
    </p>
  </div>
{% endblock %}