{% extends 'layout.html' %}

{% block content %}
  <img src="{{ snap.url }}" />
  <p>{{ snap.views }} views left!</p>
  <a class="twitter-share-button"
     href="https://twitter.com/share"
     data-via="twapchat"
     data-text="Check out this snap before it expires!">
    Tweet this snap
  </a>
  <script type="text/javascript">
  window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
  </script>
{% endblock %}